
/*imports*/


/*Genericals*/
input:focus,
textarea:focus,
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
}


/*Creat Notes Container*/
#creat-note-container{
    border-radius: 10px;
    max-width: 500px;
    padding: 10px;
    border: 1px solid lightgray;
}
#creat-note-container *{
    border: none;
} 
#note-title{
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}
#note-title:focus{
    border-color: lightgray !important;
}
#note-content{
    resize: none;
}

/*Notes Container*/
#notes-container{
    max-width: 500px;
}


.note {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.note h3 {
    margin: 0;
    font-size: 18px;
}
.note p {
    margin: 10px 0;
}
.note small {
    color: #555;
}





/*///////////////////////////////////////////*/
/* Estilo base das notas */
.note {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
 }

/* Quando a nota entra em modo de edição */
.note.edit-mode {
    background-color: transparent;
    border-color: transparent;
}
.note.edit-mode *{
    background-color: transparent;
    border-color: transparent;
    transition: 0s;
    color: transparent;
}
/*criando o editor*/
.note-editor{
    background-color: white;
    z-index: 100;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    transition: .3s;
}
.note-editor *{
    width: 100%;
    display: block;
    border: none;
}
.note-editor textarea{
    resize: none;
}
.note-editor{
    background-color: transparent;
}
.on-change-editor{
    background-color: white;
    left: 50% !important;
    top: 20% !important;
    width: 550px !important;
    min-height: 270px;

    transform: translate(-50%, -50%);    
}
.on-change-editor textarea{
    min-height: 170px;
}
/*criando o background escuro*/
.black-bkg{
    background-color: rgb(43, 44, 49);
    opacity: .6;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    
    position: fixed;
}
.black-bkg.transparent{
    transition: .4s;
    background-color: transparent;
}
.no-scroll {
    overflow: hidden;
    height: 100vh;
}
