/*imports*/


/*Genericals*/
.btn-primary{
    font-size: 14px;
}
.tools-btns{
    background-color: transparent;
    border: none;
    padding: 0 10px;
    font-size: 20px
}
.tools-btns img{
    height: 25px;
}
.banner-bkg{
    background-color: rgb(241, 241, 241);
    padding: 100px;
    height: 400px;
    width: 100%;
}


/*Container das notas*/
.notes-container{
    background-color: white;
    min-width: 1200px;
    height: 500px;
    top: 80px;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%);
    margin: auto;
    position: absolute;
    display: flex;
}
.left-sidebar{
    padding: 10px;
    width: 300px;
    margin: 0;
    border-radius: 10px 0 0 10px;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
}
.note-content{
    position: relative;
    flex: 1;
    margin: 0;
    padding: 0px;
    border-radius: 0 10px 10px 0px;
    background-color: transparent;
    padding: 0;
    border: 1px solid black;
    border-left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


        /*note content*/

.note-banner{
    background-color: var(--lightgray-color);
    min-height: 100px;
    width: 100%;
    padding: 10px;
    position: relative;
    border-left: none;
    border-bottom: none;
}

.note-text-content{
    flex: 1;
    width: 100%;
    border-radius: 0 0 10px 0;
    border-left: none;
    border-top: none;
    display: flex;
    flex-direction: column;
}
.note-icon{
    background-color: white;
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    left: 10%;
    top: 70%;
}
.content-centralize{
    height: 100%;
    width: 82%;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
}
.title-note{
    padding-left: 115px;
    width: 100%;
    margin-bottom: 10px;
}
.title-note input{
    background-color: transparent;
    border: none;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
}
.content-note{
    flex: 1;
    padding: 10px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    margin-bottom: 45px;
}
.content-note:empty:before {
  content: attr(data-placeholder);
  color: gray;
  pointer-events: none;
  display: block;
}
.toolbar{
    width: 100%;
    border-top: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    position: sticky;
    bottom: 0;
}


        /*lateral bar*/
.header-sidebar{
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.search-for{
    display: flex;
    margin-right: 10px;
    position: relative;
}
.search-icon{
    position: absolute;
    width: 22px;
    right: 5px;
    top: 3px;
}
#search-note{
    width: 100%;
    background-color: var(--lightgray-color);
    border: none;
    padding-right: 30px;
    font-size: 14px;
    border: solid 1px transparent;
}
#search-note:focus{
    border: 1.5px solid black !important;
    background-color: transparent;
}
.header-sidebar input{
    display: block;
}
.create-note{
    background-color: transparent;
    border: none;
    margin: auto;
    margin-right: 0;
}
.create-note img{
    width: 27px;
}
.notes-list{
    flex: 1;
    width: 100%;
    padding: 15px 10px;
}
.notes-list ul{
    padding: 0;
}
.list-item{
    list-style: none;
}